<!DOCTYPE html>
<html>
<head>
  <title>Cocktails</title>
  <%= stylesheet_link_tag 'https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css' %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>


<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <!-- <span class="sr-only">Toggle navigation</span>    NOT SURE IF WE NEED THIS JUNK
        <span class="icon-bar"></span>   -->

      </button>
      <a class="navbar-brand" href="#">LOGO</a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
         <!-- nav links next to logo -->
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <% if current_user %>Logged in as <%= current_user.email %>.
        <%= link_to "Log out", logout_path %>
        	<% else %>
        <%= link_to "Sign up", signup_path %> or
  		<%= link_to "log in", login_path %>.
		<% end %>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<div class="jumbotron">
  <h1>Cocktails & Dreams</h1>
  <p>Anything else is always something better.</p>
  <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
</div>

<%= yield %>



</body>
</html>
